<a href="https://colab.research.google.com/github/ryegunde/Pandas-Test/blob/main/DataUSA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Write python code that will produce a data frame that contains the contact name, mail date and conversion date of all contacts have converted their insurance policy

In [1]:
import pandas as pd

df_cont = pd.read_csv("df_contacts.csv")
df_mail = pd.read_csv("df_mail.csv")
df_re = pd.read_csv("df_responses.csv")
df_conv = pd.read_csv("df_conversions.csv")

In [2]:
df = pd.merge(df_cont, df_mail, how='inner')

In [3]:
df = pd.merge(df, df_re, how='inner')

In [4]:
df = pd.merge(df, df_conv, how='inner')

In [5]:
df

    CONT_ID                    NAME  ... CONV_ID   CONV_DATE
0         1             GINA LAPONE  ...       1   7/21/2020
1         5              A NAGAMINE  ...      39    6/9/2020
2         5              A NAGAMINE  ...      41   6/17/2020
3        15             ROGER HOLUB  ...      37   8/17/2020
4        16               GARY MOHE  ...       5    3/9/2020
5        18              JILL LEWIS  ...      35   5/12/2020
6        19            LYNN SORMRUD  ...       3   5/23/2020
7        19            LYNN SORMRUD  ...      31   9/28/2020
8        30                 J SOLIS  ...       9    5/4/2020
9        37          MIKE SACKRISON  ...      11  11/28/2020
10       45         MICHELLA MEDINA  ...       6    1/5/2020
11       46           GREGORY LOTTI  ...      36   2/20/2020
12       50            HECTOR ORNER  ...      10   6/28/2020
13       53          RALPH HUTCHINS  ...      29  12/11/2020
14       56    CHARLES GEORGOPOULOS  ...       8   7/19/2020
15       57        STEPHANIE QUSOUS  ...       7   3/10/2020
16       62         RICHARD CASSELS  ...      14    4/2/2020
17       65             MARY ROGERS  ...      22   10/3/2020
18       72            NAFTALI RAZA  ...      34   1/11/2020
19       85          KRISTIN HANSON  ...      48   7/24/2020
20       87          TANYA CASTILLE  ...      32  12/13/2020
21       92          RICHARD BERUBE  ...       4   3/11/2020
22      104            PAMELA POSIN  ...      46    6/1/2020
23      112             KATINA HOLM  ...      38    4/9/2020
24      121         ROBERT LUNDGREN  ...      13    8/9/2020
25      128            JAMES LESTER  ...      45   9/19/2020
26      132          DAVID G RAFAEL  ...      17   5/12/2020
27      135         ERNESTO MATHEWS  ...      24   3/26/2020
28      136               RIKI HAMM  ...      33   7/16/2020
29      137             YECID PORTO  ...      27   3/20/2020
30      142              ALVIN BOER  ...      28  11/19/2020
31      145        MICHAEL BROSSARD  ...      12   6/16/2020
32      147              LUZ WAGNER  ...       2   5/25/2020
33      150             MARIA COYLE  ...      43    5/3/2020
34      151              PING RENGA  ...      49    3/3/2020
35      152       KATHLEEN SHIMOIDA  ...      19   8/11/2020
36      152       KATHLEEN SHIMOIDA  ...      21   6/24/2020
37      153             MARION WOLD  ...      47   11/8/2020
38      157          ROBYN MCFARLIN  ...      16   4/12/2020
39      159           CHARLES SANDT  ...      40   5/27/2020
40      160              SCOTT LAKE  ...      18    1/4/2020
41      168              JOHN ERNDT  ...      30   11/3/2020
42      171                ALEX PAZ  ...      44   5/18/2020
43      172  LORETTA KETTNERBOROUGH  ...      15   1/22/2020
44      173            MICHAEL RAUB  ...      25  11/28/2020
45      174         FELIPE WILLIAMS  ...      23   8/28/2020
46      175            JEREMY BOWEN  ...      20   7/28/2020
47      182              PEGGY LONG  ...      26    3/1/2020
48      184          RICHARD RUSACK  ...      50  12/26/2020
49      184          RICHARD RUSACK  ...      42  12/23/2020

[50 rows x 12 columns]

# 2. Write python code that will give us the percentage of response per city

number of responses by city/count of contacts per city

In [6]:
df2 = pd.merge(df_cont, df_mail, how='left')
df2 = pd.merge(df2, df_re, how='left')
df2 = pd.merge(df2, df_conv, how='left')

In [7]:
counts = df2.groupby('CITY').count()[['CONT_ID','RESPONSE_ID']]
counts['% RESPONSE'] = counts['RESPONSE_ID']/counts['CONT_ID']
counts['% RESPONSE']

CITY
ALBUQUERQUE    0.5
ALEXANDRIA     1.0
ALHAMBRA       0.0
ALTUS          1.0
ANTIOCH        0.0
              ...
WINTER PARK    1.0
WOLCOTT        1.0
WORCESTER      0.0
WYLIE          1.0
YOUNGSTOWN     0.0
Name: % RESPONSE, Length: 179, dtype: float64

# 3. Write python code that will give us the response time for each mail piece that has been responded to.

response time = response date - mail date

**Note**: Response time is in the form of #_of_months/#_of_days/#_of_years that have past

In [8]:
df3 = pd.merge(df_cont, df_mail, how='inner')
df3 = pd.merge(df2, df_re, how='inner')

In [9]:
def get_response_time(times):
  # get mail times
  time_m = times[0].split("/")
  day_m = int(time_m[0])
  month_m = int(time_m[1])
  year_m = int(time_m[2])

  # get resp times
  time_r = times[1].split("/")
  day_r = int(time_r[0])
  month_r = int(time_r[1])
  year_r = int(time_r[2])

  return str(abs(day_r-day_m)) +"/"+ str(abs(month_r-month_m)) +"/"+ str(abs(year_r-year_m))

In [10]:
df3['RESPONSE_TIME'] = df3[['MAIL_DATE','RESP_DATE']].apply(get_response_time, axis=1) #passes a Series object, row-wise

In [11]:
df3['RESPONSE_TIME']

0       5/8/4
1      3/12/2
2       9/9/4
3      3/19/3
4       6/7/4
        ...
195    5/10/2
196     1/5/2
197    10/7/3
198    3/15/4
199     2/4/3
Name: RESPONSE_TIME, Length: 200, dtype: object

In [12]:
df3

     CONT_ID                NAME         CITY  ... CONV_ID  CONV_DATE  RESPONSE_TIME
0          1         GINA LAPONE       DALLAS  ...     NaN        NaN          5/8/4
1          1         GINA LAPONE       DALLAS  ...     1.0  7/21/2020         3/12/2
2          2         JAMES PAPIA  MIAMI BEACH  ...     NaN        NaN          9/9/4
3          3  LAURIN H TEMPLETON       BOSTON  ...     NaN        NaN         3/19/3
4          4        PAUL SWEEZER    LAS VEGAS  ...     NaN        NaN          6/7/4
..       ...                 ...          ...  ...     ...        ...            ...
195      196        SHAWN LITTLE   MOORESTOWN  ...     NaN        NaN         5/10/2
196      196        SHAWN LITTLE   MOORESTOWN  ...     NaN        NaN          1/5/2
197      198        STEVE GOEREE    SOUTHLAKE  ...     NaN        NaN         10/7/3
198      199         JOAN BURILL     CARLSBAD  ...     NaN        NaN         3/15/4
199      200        JOHN MCNULTY         LULA  ...     NaN        NaN          2/4/3

[200 rows x 13 columns]

# 4. Write python code that will tell us which mail month got the most responses.

In [13]:
df2.groupby('MAIL_MONTH').count()['RESPONSE_ID']

MAIL_MONTH
1     13
2     17
3     13
4     19
5     17
6     19
7     14
8     16
9     11
10    15
11    28
12    18
Name: RESPONSE_ID, dtype: int64

# 5. Write python code that will tell us which mail month got the most conversions.

In [14]:
df2.groupby('MAIL_MONTH').count()['CONV_ID']

MAIL_MONTH
1     2
2     2
3     2
4     5
5     2
6     6
7     4
8     5
9     5
10    3
11    9
12    5
Name: CONV_ID, dtype: int64

# 6. Given that each primary key columns (PK) is indexed properly, please give an estimate run time
for the following joins
* 1MM contacts LEFT JOIN to 10MM Mail Pieces
* 5MM contacts INNER JOIN to 10MM Mail Pieces LEFT JOIN to 4.25MM Responses

In [15]:
import time

start = time.time()
pd.merge(df_cont, df_mail, how='left')
end = time.time()

print(end-start, "seconds")

0.017992258071899414 seconds

Estimation:

# 7. Given that MAIL_MONTH 1 = January 2 = February, … 12 = December, create a new column in df_mail that will give us the verbose mail month

In [16]:
months = {
    1:"January",
    2:"February",
    3:"March",
    4:"April",
    5:"May",
    6:"June",
    7:"July",
    8:"August",
    9:"September",
    10:"October",
    11:"November",
    12:"December"
}

In [17]:
df_mail['VERBOSE'] = df_mail['MAIL_MONTH'].map(months)

In [18]:
df_mail

     MAIL_ID  CONT_ID  MAIL_MONTH   MAIL_DATE   VERBOSE
0          1       35           6   6/12/2016      June
1          2       50          10  10/27/2017   October
2          3      148          11  11/21/2017  November
3          4      121           3   3/16/2018     March
4          5       28           5   5/22/2015       May
..       ...      ...         ...         ...       ...
295      296        4          10  10/23/2015   October
296      297       41           5   5/14/2017       May
297      298       49          12  12/16/2016  December
298      299      120           7   7/21/2018      July
299      300      150          12  12/22/2018  December

[300 rows x 5 columns]

# 8. Write python code that will create the FIRST_NAME and LAST_NAME column from the value found in the NAME column.
* Assume that the NAME column is [FIRST_NAME] [LAST_NAME] separated with a space
* Assume every NAME contains first and last name. Invalid names have already been
filtered out

In [19]:
def get_fname(name):
  names = name.split(" ")
  return names[0]

def get_lname(name):
  names = name.split(" ")
  return names[1]

In [20]:
df['FIRST_NAME'] = df['NAME'].apply(get_fname)
df['LAST_NAME'] = df['NAME'].apply(get_lname)

In [21]:
df

    CONT_ID                    NAME  ... FIRST_NAME       LAST_NAME
0         1             GINA LAPONE  ...       GINA          LAPONE
1         5              A NAGAMINE  ...          A        NAGAMINE
2         5              A NAGAMINE  ...          A        NAGAMINE
3        15             ROGER HOLUB  ...      ROGER           HOLUB
4        16               GARY MOHE  ...       GARY            MOHE
5        18              JILL LEWIS  ...       JILL           LEWIS
6        19            LYNN SORMRUD  ...       LYNN         SORMRUD
7        19            LYNN SORMRUD  ...       LYNN         SORMRUD
8        30                 J SOLIS  ...          J           SOLIS
9        37          MIKE SACKRISON  ...       MIKE       SACKRISON
10       45         MICHELLA MEDINA  ...   MICHELLA          MEDINA
11       46           GREGORY LOTTI  ...    GREGORY           LOTTI
12       50            HECTOR ORNER  ...     HECTOR           ORNER
13       53          RALPH HUTCHINS  ...      RALPH        HUTCHINS
14       56    CHARLES GEORGOPOULOS  ...    CHARLES    GEORGOPOULOS
15       57        STEPHANIE QUSOUS  ...  STEPHANIE          QUSOUS
16       62         RICHARD CASSELS  ...    RICHARD         CASSELS
17       65             MARY ROGERS  ...       MARY          ROGERS
18       72            NAFTALI RAZA  ...    NAFTALI            RAZA
19       85          KRISTIN HANSON  ...    KRISTIN          HANSON
20       87          TANYA CASTILLE  ...      TANYA        CASTILLE
21       92          RICHARD BERUBE  ...    RICHARD          BERUBE
22      104            PAMELA POSIN  ...     PAMELA           POSIN
23      112             KATINA HOLM  ...     KATINA            HOLM
24      121         ROBERT LUNDGREN  ...     ROBERT        LUNDGREN
25      128            JAMES LESTER  ...      JAMES          LESTER
26      132          DAVID G RAFAEL  ...      DAVID               G
27      135         ERNESTO MATHEWS  ...    ERNESTO         MATHEWS
28      136               RIKI HAMM  ...       RIKI            HAMM
29      137             YECID PORTO  ...      YECID           PORTO
30      142              ALVIN BOER  ...      ALVIN            BOER
31      145        MICHAEL BROSSARD  ...    MICHAEL        BROSSARD
32      147              LUZ WAGNER  ...        LUZ          WAGNER
33      150             MARIA COYLE  ...      MARIA           COYLE
34      151              PING RENGA  ...       PING           RENGA
35      152       KATHLEEN SHIMOIDA  ...   KATHLEEN        SHIMOIDA
36      152       KATHLEEN SHIMOIDA  ...   KATHLEEN        SHIMOIDA
37      153             MARION WOLD  ...     MARION            WOLD
38      157          ROBYN MCFARLIN  ...      ROBYN        MCFARLIN
39      159           CHARLES SANDT  ...    CHARLES           SANDT
40      160              SCOTT LAKE  ...      SCOTT            LAKE
41      168              JOHN ERNDT  ...       JOHN           ERNDT
42      171                ALEX PAZ  ...       ALEX             PAZ
43      172  LORETTA KETTNERBOROUGH  ...    LORETTA  KETTNERBOROUGH
44      173            MICHAEL RAUB  ...    MICHAEL            RAUB
45      174         FELIPE WILLIAMS  ...     FELIPE        WILLIAMS
46      175            JEREMY BOWEN  ...     JEREMY           BOWEN
47      182              PEGGY LONG  ...      PEGGY            LONG
48      184          RICHARD RUSACK  ...    RICHARD          RUSACK
49      184          RICHARD RUSACK  ...    RICHARD          RUSACK

[50 rows x 14 columns]

# 9. Write python code that will create a new data frame that contains only contacts from Maryland
* The state column is the state abbreviation, not the state name. Maryland = MD

In [22]:
df_md = df.loc[df['STATE'] == 'MD']

In [23]:
df_md

    CONT_ID             NAME     CITY  ... CONV_DATE  FIRST_NAME  LAST_NAME
24      121  ROBERT LUNDGREN  SHAWNEE  ...  8/9/2020      ROBERT   LUNDGREN

[1 rows x 14 columns]